<div class="icons-wrapper">
  <div class="email-phone">
    <div class="email">
      <div class="email-icon">
        <a href="mailto:info@deviate.design?Subject=Hello,%20let's%20work%20together%20!" target="_top">
          <img src="https://cdn.hyperdev.com/us-east-1%3A7885faca-916f-4f32-bc68-fcbbc8befcc1%2FMail.png" />
        </a>
      </div>
      <span><a href="mailto:info@deviate.design?Subject=Hello,%20let's%20work%20together%20!" target="_top">info@deviate.design</a></span>
    </div>
    <div class="phone phone-desktop">
      <div class="phone-icon">
        <img src="https://cdn.hyperdev.com/us-east-1%3A7885faca-916f-4f32-bc68-fcbbc8befcc1%2FPhone.png"  />
      </div>
      <span>+599 787 3594</span>
    </div>
    <div class="phone phone-mobile">
      <div class="phone-icon">
        <a href="tel:+5997873595">
          <img src="https://cdn.hyperdev.com/us-east-1%3A7885faca-916f-4f32-bc68-fcbbc8befcc1%2FPhone.png"  />
        </a>
      </div>
      <span>+599 787 3595</span>
    </div>
  </div>
  <div class="facebook-instagram">
    <div class="facebook">
      <div class="facebook-icon">
        <a target="_blank" href="https://www.facebook.com/DeviateDesign/?fref=ts">
          <img src="https://cdn.hyperdev.com/us-east-1%3A7885faca-916f-4f32-bc68-fcbbc8befcc1%2FFacebook.png"  />
        </a>
      </div>
      <span><a target="_blank" href="https://www.facebook.com/DeviateDesign/?fref=ts">/DeviateDesign</a></span>
    </div>
    
    <div class="instagram">
      <div class="instagram-icon">
        <a target="_blank" href="https://www.instagram.com/deviatedesign/">
          <img src="https://cdn.hyperdev.com/us-east-1%3A7885faca-916f-4f32-bc68-fcbbc8befcc1%2FInstagram.png"  />
        </a>
      </div>
      <span><a target="_blank" href="https://www.instagram.com/deviatedesign/">/DeviateDesign</a></span>
    </div>
  </div>
  <div class="float-clear"></div>
</div>