<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to HyperDev!</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
    <link rel="stylesheet" href="/style.css">

  </head>
  <body>
    <header>
      <div class="logo">
        <img src="https://cdn.hyperdev.com/us-east-1%3A7885faca-916f-4f32-bc68-fcbbc8befcc1%2FAnimatie.gif" />
      </div>
    </header>

    <div class="main">
      <div class="carousel-wrapper">
        <div class="carousel">
        
          <div class="wayfare">
            <img src="https://cdn.hyperdev.com/us-east-1%3A7885faca-916f-4f32-bc68-fcbbc8befcc1%2FWayfare.png" />
          </div>
          <div class="stamps">
            <img src="https://cdn.hyperdev.com/us-east-1%3A7885faca-916f-4f32-bc68-fcbbc8befcc1%2FStamps.png" />
          </div>
          <div class="chromium">
            <img src="https://cdn.hyperdev.com/us-east-1%3A7885faca-916f-4f32-bc68-fcbbc8befcc1%2FChromiumtech.png" />
          </div>
          
          <div class="oman">
            <img src="https://cdn.hyperdev.com/us-east-1%3A7885faca-916f-4f32-bc68-fcbbc8befcc1%2FOman.png" />
          </div>
          <div class="nsj">
            <img src="https://cdn.hyperdev.com/us-east-1%3A7885faca-916f-4f32-bc68-fcbbc8befcc1%2FNSJ.png" />
          </div>
        </div>  
      </div>
      
      
    </div>

    <footer>
      <div class="about-wrapper">
        <a href=""><h2 class="about">ABOUT US</h2></a>
      </div>
      
      <div class="icons-wrapper">
        <div class="email-phone">
          <div class="email">
            <div class="email-icon">
              <img src="https://cdn.hyperdev.com/us-east-1%3A7885faca-916f-4f32-bc68-fcbbc8befcc1%2FMail.png" />
            </div>
            <span>info@deviate.design</span>
          </div>
          <div class="phone">
            <div class="phone-icon">
              <img src="https://cdn.hyperdev.com/us-east-1%3A7885faca-916f-4f32-bc68-fcbbc8befcc1%2FPhone.png"  />
            </div>
            <span>+44(0)7490535295</span>
          </div>
        </div>
        <div class="facebook-instagram">
          <div class="facebook">
            <div class="facebook-icon">
              <img src="https://cdn.hyperdev.com/us-east-1%3A7885faca-916f-4f32-bc68-fcbbc8befcc1%2FFacebook.png"  />
            </div>
            <span>/DeviateDesign</span>
          </div>
          
          <div class="instagram">
            <div class="instagram-icon">
              <img src="https://cdn.hyperdev.com/us-east-1%3A7885faca-916f-4f32-bc68-fcbbc8befcc1%2FInstagram.png"  />
            </div>
            <span>/DeviateDesign</span>
          </div>
        </div>
      </div>
      
      
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

    <script src="/client.js"></script>

  </body>
</html>
