
<footer class="footer">
  <div class="about-wrapper">
    <a href="/about"><h2 class="page-link about">ABOUT US</h2></a>
    <a href="/what-we-do"><h2 class="page-link what-we-do">WHAT WE DO</h2></a>
  </div>
  
  <%- include('./icons') %>
</footer>

<!-- Your web-app is https, so your scripts need to be too -->
<script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<script src="/project-client.js"></script>