<!DOCTYPE html>
<html>
  <%- include('../head') %>
  <body>
    <%- include('../header') %>

    <div class="about-main">
      <div class="left-photo"></div>
      <div class="right-photo"></div> 
      
      <div class="is">is</div>
      
      <div class="focus-word">
        <div class="animating-text-content">
          <div class="animating-text-visible">
            <p></p>
            <ul>
              <li>Bonaire-based</li>
              <li>bold</li>
              <li>young</li>
              <li>fun-loving</li>
              <li>conceptual</li>
              <li>thorough</li>
              <li>underwater</li>
              <li>A lil'Crazy</li>
              <li>on an adventure</li>
              <li>a partnership</li>
              <li>looking for you</li>
              <li>digging up cacti</li>
              <li>open-minded</li>
              <li>lovey dovey</li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="information">
        <div class="wessel">
          <div class="person-name">WESSEL VAN DEN BERGE</div>
          <div class="university">Willem De Kooning Academie, Rotterdam <br>
Bachelor of Arts Major in Graphic Design, <br>
Minor in Gamification,</div>
          <div class="birth-place">16.04.1992, Alphen aan den Rijn, NL</div>
          <div class="hobbies">Internet Culture, Design Fiction,<br>
Nature, Birds, Illustration</div>
        </div>
        <div class="icons">
          <div class="person-and">&</div>
          <div class="uni-icon"></div>
          <div class="baby-icon"></div>
          <div class="heart-icon"></div>
        </div>
        <div class="laura">
          <div class="person-name">LAURA VERBATEN</div>
          <div class="university">Nottingham Trent University, <br>
School of Art & Design,<br>
Bachelor of Arts (Hons) in Graphic Design</div>
          <div class="birth-place">28.09.1992, Bergen op Zoom, NL</div>
          <div class="hobbies">Typography, Editorial Design,<br>
Cats, Nijntje, Bright colours  </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="about-wrapper">
        <a href="/what-we-do"><h2 class="page-link what-we-do">WHAT WE DO</h2></a>
        <a href="/"><h2 class="page-link about">PROJECTS</h2></a>
      </div>
      
      <%- include('../icons') %>
    </footer>
  </body>
</html>