<!DOCTYPE html>
<html>
  <%- include('../head') %>
  <body>
    <%- include('../header') %>

    <div class="main">
      <div class="carousel-wrapper">
        <div class="carousel">
          <div class="img-slide wayfare"></div>
          <div class="img-slide stamps"></div>
          <div class="img-slide chromium"></div>
          <div class="img-slide oman"></div>
          <div class="img-slide nsj"></div>
          <div class="img-slide metro"></div>
          <a class="img-link" href="/feed"><div class="img-slide feed"></div></a>
          <div class="img-slide logos"></div>
          <div class="img-slide space"></div>
          <div class="img-slide alice"></div>
        </div>  
      </div>

      <div class="project idle-project wayfare-project">
        <div class="close-project">
          <div class="close-button"></div>
        </div>
        <div class="project-carousel wayfare-carousel">
          
          <div class="project-slide"><div class="project-image wayfare-image first-image"></div></div>
          <div class="project-slide"><div class="project-image wayfare-image second-image"></div></div>
          <div class="project-slide"><div class="project-image wayfare-image third-image"></div></div>
          <div class="project-slide"><div class="project-image wayfare-image fourth-image"></div></div>
          <div class="project-slide"><div class="project-image wayfare-image fifth-image"></div></div>
          <div class="project-slide"><div class="project-image wayfare-image sixth-image"></div></div>
          <div class="project-slide"><div class="project-image wayfare-image seventh-image"></div></div>
          <div class="project-slide"><div class="project-image wayfare-image eight-image"></div></div>
          <div class="project-slide"><div class="project-image wayfare-image nineth-image"></div></div>
          <div class="project-slide"><div class="project-image wayfare-image tenth-image"></div></div>
          <div class="project-slide"><div class="project-image wayfare-image eleventh-image"></div></div>
          
        </div>
        
        <div class="project-text wayfare-text">
          <div class="text-content">
            <h2> WAYFARE </h2>
            <p>
              
              Magazine from concept to finish.

Wayfare, a travel and culture magazine. Each issue has a different theme, which will influence the design & colour scheme. This specific issue explores skylines. 

Photography used on the cover, the hiding skyline spread, the change of perception spreads and the discover the Red Sea advert are our own. </p>
          </div>
        </div>
      </div>

      <div class="project idle-project stamps-project">
        <div class="close-project">
          <div class="close-button"></div>
        </div>
        <div class="project-carousel stamps-carousel">
          <div class="project-slide"><div class="project-image stamps-image first-image"></div></div>
          <div class="project-slide"><div class="project-image stamps-image second-image"></div></div>
          <div class="project-slide"><div class="project-image stamps-image third-image"></div></div>
          <div class="project-slide"><div class="project-image stamps-image fourth-image"></div></div>
        </div>
        
        <div class="project-text stamps-text">
          <div class="text-content">
            <h3>1946-2012</h3>
            <h2>DUTCH POSTAGE STAMPS BOOKLET</h2>
            <p>
              A classic for any graphic designer: <i>The postage stamp</i>
              Based on the text of Paul Hefting, this booklet features the designs of dutch numeral stamp designs
              from the past 60 years, complemented by a design proposal for the future stamp. 
            </p>
          </div>
        </div>
      </div>
  
      <div class="project idle-project chromium-project">
        <div class="close-project">
          <div class="close-button"></div>
        </div>
        
        <div class="project-carousel chromium-carousel">
          <div class="project-slide">
            <div class="project-image chromiumtech-image first-image"></div>
          </div>
        </div>
    
        <div class="project-text chromium-text">
          <div class="text-content">
            <h2>TRADE SHOW BANNER</h2>
            <p>
              The design of this Trade Show banner is a solution for the lack of space on location to show all of Chromium Tech's Mini Car product range. <br> <br> 
              The comprehensive banner showcases all possibilities in a colourful array of products on display.
            </p>
          </div>
        </div>
      </div>
      
      <div class="project idle-project oman-project">
        <div class="close-project"><div class="close-button"></div></div>
        <div class="project-carousel oman-carousel">
          
          <div class="project-slide"><div class="project-image oman-image first-image"></div></div>
          <div class="project-slide"><div class="project-image oman-image second-image"></div></div>
          <div class="project-slide"><div class="project-image oman-image third-image"></div></div>
          <div class="project-slide"><div class="project-image oman-image fourth-image"></div></div>
          
        </div>
        <div class="project-text oman-text">
          <div class="text-content">
            <h3> Corporate Identity </h3>
            <h2>DISCOVER OMAN</h2>
            <p> Brand Identity created for Discover Oman. The company raises awareness about Oman globally and attracts travellers to visit so that they can experience Arabian lifestyle. The logo was inspired by the Omani dagger, the Muscat landmark "the Incense Burner" and the Oman national colours. </p>
          </div>
        </div>
      </div>
      
      <div class="project idle-project nsj-project">
        <div class="close-project"><div class="close-button"></div></div>
        <div class="project-carousel nsj-carousel">
         <div class="project-slide"><div class="project-image nsj-image first-image"></div></div>
          <div class="project-slide"><div class="project-image nsj-image second-image"></div></div>
          <div class="project-slide"><div class="project-image nsj-image third-image"></div></div>
          <div class="project-slide"><div class="project-image nsj-image fourth-image"></div></div>
          <div class="project-slide"><div class="project-image nsj-image fifth-image"></div></div>
        </div>
        <div class="project-text nsj-text">
          <div class="text-content">
            
            <h2>NORTH SEA <br> JAZZ FESTIVAL</h2>
            <h3> Artposter</h3>
            <p>Jazz is unpredictable and jazz is well thought out. Jazz is abstract and jazz <br> is clear. This photographic poster shows the special contrasting elements of the music. <br> <br>
            The design was part of a yearly design brawl for the North Sea Jazz festival <br> in Rotterdam and was displayed among other competitors during an exhibition beforehand. </p>
          </div>
        </div>
      </div>
      
      <div class="project idle-project metro-project">
        <div class="close-project"><div class="close-button"></div></div>
        <div class="project-carousel metro-carousel">
          <div class="project-slide"><div class="project-image metro-image first-image"></div></div>
          <div class="project-slide"><div class="project-image metro-image second-image"></div></div>
          <div class="project-slide"><div class="project-image metro-image third-image"></div></div>
          <div class="project-slide"><div class="project-image metro-image fourth-image"></div></div>
          <div class="project-slide"><div class="project-image metro-image fifth-image">
            <!-- <img src="https://cdn.hyperdev.com/us-east-1%3A7885faca-916f-4f32-bc68-fcbbc8befcc1%2F5_Metro_Nova_Deviate_Design.png" /> -->
          </div></div>        
          </div>
        <div class="project-text metro-text">
          <div class="text-content">
            <h2>METRO NOVA <br> TYPE SPECIMEN</h2>
            <p>The Metro Nova Type Specimen concept is based around the quote <br> "A masterpiece lost, found and reimagined". 

The user has to discover the letter forms themselves by matching up the two sets of cards. Each card showcases a letter of the alphabet in one of the 26 weights. 
</p>
          </div>
        </div>
      </div>
      
      <!-- <div class="project idle-project feed-project">
        <div class="close-project"><div class="close-button"></div></div>
        <div class="project-carousel feed-carousel">
          pictures
        </div>
        <div class="project-text feed-text">
          <div class="text-content">
            <h2>FEED</h2>
            text
          </div>
        </div>
      </div> -->
      
      <div class="project idle-project logos-project">
        <div class="close-project"><div class="close-button"></div></div>
        <div class="project-carousel logos-carousel">
           <div class="project-slide"><div class="project-image logos-image first-image"></div></div>
          <div class="project-slide"><div class="project-image logos-image second-image"></div></div>
          <div class="project-slide"><div class="project-image logos-image third-image"></div></div>
          <div class="project-slide"><div class="project-image logos-image fourth-image"></div></div>
        </div>
        <div class="project-text logos-text">
          <div class="text-content">
            <h2>LOGO DESIGNS</h2>
            <p> Various logos which we have designed after working closely with the following companies: <br> <br>
            - All About Mini <br>
            - Mijn Eerste Tandarts <br>
            - Discover Oman <br>
            - Hanneke van Oudheusden <br>
    
            
            </p>
          </div>
        </div>
      </div>
      
      <div class="project idle-project alice-project">
        <div class="close-project"><div class="close-button"></div></div>
        <div class="project-carousel alice-carousel">
          <div class="project-slide"><div class="project-image alice-image first-image"></div></div>
          <div class="project-slide"><div class="project-image alice-image second-image"></div></div>
          <div class="project-slide"><div class="project-image alice-image third-image"></div></div>
          <div class="project-slide"><div class="project-image alice-image fourth-image"></div></div>
          <div class="project-slide"><div class="project-image alice-image fifth-image"></div></div>
          <div class="project-slide"><div class="project-image alice-image sixth-image"></div></div>
          <div class="project-slide"><div class="project-image alice-image seventh-image"></div></div>
          <div class="project-slide"><div class="project-image alice-image eight-image"></div></div>
        </div>
        <div class="project-text alice-text">
          <div class="text-content">
            <h2>ALICE IN WONDERLAND</h2>
            <p> Experimental typographic book design for Alice's Adventures in Wonderland. <br> <br> 
            Creating an intriguing physical reading experience by making use of techniques that digital technology lacks. 
            The pages change size and colour, to portray Alice's physical and mental growth. 
            The typography mirrors what is happening in the story. <br> <br> The design has no fixed rules, 
            as anything can happen in Wonderland. </p>
          </div>
        </div>
      </div>

    
    




<div class="project idle-project space-project">
        <div class="close-project"><div class="close-button"></div></div>
        <div class="project-carousel space-carousel">
          
          <div class="project-slide"><div class="project-image space-image first-image"></div></div>
          <div class="project-slide"><div class="project-image space-image second-image"></div></div>
          <div class="project-slide"><div class="project-image space-image third-image"></div></div>
          <div class="project-slide"><div class="project-image space-image fourth-image"></div></div>
          <div class="project-slide"><div class="project-image space-image fifth-image"></div></div>
          <div class="project-slide"><div class="project-image space-image sixth-image"></div></div>
          
        </div>
        
        <div class="project-text space-text">
          <div class="text-content">
            <h2> 2001: A SPACE ODYSSEY </h2>
            <p>
              
              This project takes Stanley Kubricks Sci-fi movie 2001: A Space Odyssey into a new dimension. 
              Within this book, the movie was reimagined in a typographic interpretation of the original script 
              dating back to 1968. ((tiny)*Spoiler alert*) The design of the book features the shape of 
              the black Monolith which shows itself to the apes at the start of the movie. 
              Followed by it’s might descend, the typography within the large book translates 
              various roles and illustrates situations from the script. Within the book, nothing gets lost. 
              This makes deleted texts no exception to this rule.</p>
          </div>
        </div>
      </div>
      
      
      
    <!--project here-->
      
      
      
      
      </div> <!-- Deze div sluit de projecten af-->

    <footer>
      <div class="about-wrapper">
        <a href="/about"><h2 class="page-link about">ABOUT US</h2></a>
        <a href="/what-we-do"><h2 class="page-link what-we-do">WHAT WE DO</h2></a>
      </div>
      
      <%- include('../icons') %>
    </footer>

    <%- include('../scripts') %>
</body>
</html>
