<!DOCTYPE html>
<html>
  <%- include('../head') %>
  <body>
    <%- include('../header') %>

    <div class="main">
      <div class="carousel-wrapper">
        <div class="carousel">
          <a class="img-link" href="/alice-in-wonderland"><div class="img-slide alice"></div></a>
          <a class="img-link" href="/north-sea-jazz-poster"><div class="img-slide nsj"></div></a>
          <a class="img-link" href="/2001-a-space-odyssey"><div class="img-slide space"></div></a>
          <a class="img-link" href="/feed"><div class="img-slide feed"></div></a>
          <a class="img-link" href="/chromium-tech-trade-show-banner"><div class="img-slide chromium"></div></a>
          <a class="img-link" href="/dutch-postage-stamps-booklet"><div class="img-slide stamps"></div></a>
          <a class="img-link" href="/discover-oman-identity"><div class="img-slide oman"></div></a>
          <a class="img-link" href="/metro-nova-type-specimen"><div class="img-slide metro"></div></a>
          <a class="img-link" href="/wayfare-magazine"><div class="img-slide wayfare"></div></a>
          <a class="img-link" href="/logos"><div class="img-slide logos"></div></a>
        </div>  
      </div>
    </div> <!-- Deze div sluit de projecten af-->

    <footer>
      <div class="about-wrapper">
        <a href="/about"><h2 class="page-link about">ABOUT US</h2></a>
        <a href="/what-we-do"><h2 class="page-link what-we-do">WHAT WE DO</h2></a>
      </div>
      
      <%- include('../icons') %>
    </footer>

    <%- include('../scripts') %>
</body>
</html>
