<!DOCTYPE html>
<html>
  <%- include('../head') %>
  <body>
    <%- include('../header') %>

    <div class="project-main">
      <div class="project active-project oman-project">
        <div class="desktop close-project"><a href="/?project=oman"><div class="close-button"></div></a></div>
        <div class="project-carousel oman-carousel">
          
          <div class="project-slide"><div class="project-image oman-image first-image"></div></div>
          <div class="project-slide"><div class="project-image oman-image second-image"></div></div>
          <div class="project-slide"><div class="project-image oman-image third-image"></div></div>
          <div class="project-slide"><div class="project-image oman-image fourth-image"></div></div>
          
        </div>
        <div class="mobile close-project"><a href="/?project=oman"><div class="close-button"></div></a></div>
        <div class="project-text oman-text">
          <div class="text-content">
            <h3> Corporate Identity </h3>
            <h2>DISCOVER OMAN</h2>
            <p> Brand Identity created for Discover Oman. The company raises awareness about Oman globally and attracts travellers to visit so that they can experience Arabian lifestyle. The logo was inspired by the Omani dagger, the Muscat landmark "the Incense Burner" and the Oman national colours. </p>
          </div>
          
               <%- include('../project-links', {
            prev: '/dutch-postage-stamps-booklet',
            next: '/metro-nova-type-specimen'
          }) %>
          
          
        </div>
      </div>
    </div> <!-- Deze div sluit de projecten af-->

    <%- include('../project-footer') %>
</body>
</html>
