<!DOCTYPE html>
<html>
  <%- include('../head') %>
  <body>
    <%- include('../header') %>
  
    <div class="what-we-do-main">
      
      <div class="head-line-wrapper">
        <h1 class="head-line">What do we do?</h1>
      </div>
      
      <div class="details">
        <div class="details-column strengths">
          <div class="details-icon strengths-icon"></div>
          <p>
            We are a young & dynamic Bonaire-based Graphic Design studio combining our strengths in: Typography, creating strong concepts, solving problems and visualising ideas through various mediums.
          </p>
        </div>
        <div class="details-column designsolution">
          <div class="details-icon designsolution-icon"></div>
          <p>
            Working closely with our customers is <br> what we like to do, sharing our thought <br> process and brainstorming together, <br> resulting in well-thought out design <br> solutions which tell your story. 
          </p>
        </div>
        <div class="details-column challenge">
          <div class="details-icon challenge-icon"></div>
          <p>
            We focus mostly on designing <br> corporate identities, flyers, banners, <br> logos, way-finding, illustration and <br> editorial design. However if you have a <br> specific project in mind please do get in <br> touch as (almost) anything is possible. <br> We are always up for a challenge! 
          </p>
        </div>
        <div class="float-clear"></div>
        
        
      </div>
      
    </div>

    <footer>
      <div class="about-wrapper">
        <a href="/about"><h2 class="page-link about">ABOUT US</h2></a>
        <a href="/"><h2 class="page-link index">PROJECTS</h2></a>
      </div>
      
      <%- include('../icons') %>
    </footer>
</body>
</html>
