/*
 ******** ABOUT *************
 */
 
.left-photo {
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -480px;
  height: 340px;
  width: 208px;
  background-image: url("https://cdn.hyperdev.com/us-east-1%3A7885faca-916f-4f32-bc68-fcbbc8befcc1%2F1_Laura_Wessel_Deviate_Design.png");
}
.right-photo {
  height: 150px;
  width: 206px;
  position: absolute;
  top: 300px;
  right: 50%;
  margin-right: -490px;
  background-image: url("https://cdn.hyperdev.com/us-east-1%3A7885faca-916f-4f32-bc68-fcbbc8befcc1%2F2_Laura_Wessel_Deviate_Design.png");
}

@media screen and ( min-width: 1150px ){
  .left-photo {
    margin-left: -550px;
  }
  
  .right-photo {
    margin-right: -550px;  
  }
}

.is {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 0.05em;
  
  font-size: 20px;
  color: #fcc800;
  font-family: 'Josefin Sans', sans-serif;
}

@media screen and ( min-height: 900px ){
  .is {
    padding-top: 70px;
  }
}

.focus-word {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
  width: 460px;
  /* padding-top: 24px; */
  /* padding-bottom: 24px; */
  letter-spacing: 0.05em;
  
  border-top: 2px solid #fcc800;
  border-bottom: 2px solid #fcc800;
  
  color: #fcc800;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

@media screen and ( min-height: 900px ){
  .focus-word {
    margin-top: 70px;
  }
}

.information {
  margin-top: 70px;
  margin-bottom: 260px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

.wessel {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 15px;
  float: left;
  width: 300px;
  text-align: right;
}

.laura {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 15px;
  float: left;
  width: 300px;
  text-align: left;
}

.university {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 11px;
  float: left;
  width: 100%;
  letter-spacing: 0.08em;
  line-height: 150%;
  margin-bottom: 20px;
}

.birth-place {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 11px;
  float: left;
  width: 100%;
  letter-spacing: 0.08em;
  line-height: 150%;
  margin-bottom: 20px;
}

.hobbies {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 11px;
  float: left;
  width: 100%;
  letter-spacing: 0.08em;
  line-height: 150%;
}

.person-and {
  margin-bottom: 20px;
}

.uni-icon {
  background-image: url("https://cdn.hyperdev.com/us-east-1%3A7885faca-916f-4f32-bc68-fcbbc8befcc1%2Fachievement-icon-deviate-design.png");
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 20px;
}

.baby-icon {
  background-image: url("https://cdn.hyperdev.com/us-east-1%3A7885faca-916f-4f32-bc68-fcbbc8befcc1%2Fbaby-icon-deviate-design.png");
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 10px;
}

.heart-icon {
  background-image: url("https://cdn.hyperdev.com/us-east-1%3A7885faca-916f-4f32-bc68-fcbbc8befcc1%2Fheart-icon-deviate-design.png");
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 20px;
}

.icons {
  font-family: 'Josefin Sans', sans-serif;;
  font-size: 15px;
  float: left;
  width: 100px;
  text-align: center;
}

.person-name {
  color: #5dcfb6;
  margin-bottom: 20px;
}

.icons {
  color: #fcc800;
}

/* MOBILE */
@media only screen and (min-device-width : 320px) and (max-device-width : 1000px) {
  .focus-word {
    width: 240px;
    font-size: 28px;
  }

  .is {
    padding-top: 45px;
  }
  
  .information {
    width: 240px;
    margin-bottom: 20px;
  }
  
  .wessel, .laura {
    float: none;
    width: 240px;
    text-align: center;
  }
  
  .icons {
    width: 240px;
  }
  
  .right-photo {
    display: none;
  }
  
  .person-and {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 28px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .uni-icon, .baby-icon, .heart-icon {
    display: none;
  }
  
  .left-photo {
    position: static;
    top: auto;
    left: auto;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    height: 204px;
    width: 125px;
    background-image: url("https://cdn.hyperdev.com/us-east-1%3A7885faca-916f-4f32-bc68-fcbbc8befcc1%2F1_Laura_Wessel_Deviate_Design.png");
    background-size: contain;
  }
}

/* IPAD */
@media only screen and (min-device-width : 768px) and (max-device-width : 1000px) {
  .focus-word {
    width: 480px;
    font-size: 50px;
    /* font-size: 28px; */
  }
  
  .is {
    padding-top: 40px;
    font-size: 28px;
  }
  
  .information {
    width: 480px;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .wessel, .laura {
    float: none;
    width: 480px;
    font-size: 28px;
    text-align: center;
  }
  
  .university, .birth-place, .hobbies {
    font-size: 20px;
  }
  
  .icons {
    width: 480px;
  }
  
  .person-and {
    font-size: 36px; 
  }
  
  .left-photo {
    position: static;
    top: auto;
    left: auto;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    height: 340px;
    width: 208px;
    background-image: url("https://cdn.hyperdev.com/us-east-1%3A7885faca-916f-4f32-bc68-fcbbc8befcc1%2F1_Laura_Wessel_Deviate_Design.png");
    background-size: contain;
  }
}