.footer {
  /* margin-top: 30px; */
  margin-bottom: 30px;
  /* height: auto; */
}

/*
 ******************* ABOUT PAGE LINK ************
 */

.about-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.page-link {
  display: inline-block;
  color: #5dcfb6;
  font-size: 14px;
  letter-spacing: 0.07em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  border-bottom: 3px solid #5dcfb6;
  margin-left: 10px;
  margin-right: 10px;
}

.page-link:hover { 
  color: #fcc800;
}


/*
 ******************** ABOUT SECTION *************
 */

.icons-wrapper {
  margin-left: auto;
  margin-right: auto;
  /* height: 100%; */
  
  display: block;
  font-size: 14px;
  letter-spacing: 0.07em;
  font-family: 'Lato', sans-serif;
  color: #5dcfb6;
  width: 350px;
}

.email-phone {
  float: left;
}

.facebook-instagram {
  float: right;
}

.email, .phone, .facebook, .instagram {
  display: block;
  vertical-align: middle;
}

.email span, .phone span, .facebook span, .instagram span {
  /* float: top; */
  margin-top: 2px;
  display: inline-block;
  height: 20px;
  vertical-align: top;
}

.email a, .phone a, .facebook a, .instagram a {
  /* normal */
  
  color: #5dcfb6;
  text-decoration: none;
  /* underline:false; */
}

.email a:visited, .phone a:visited, .facebook a:visited, .instagram a:visited {
  /* visited */
  
  color: #5dcfb6;
}

.email a:hover, .phone a:hover, .facebook a:hover, .instagram a:hover {
  /* hover */
  
  color: #fcc800;
}

.phone, .instagram {
  margin-top: 6px;
}

.email-icon, .facebook-icon, .instagram-icon, .phone-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  
  display: inline-block;
}

.phone-icon, .facebook-icon {
  margin-left: 4px;
}
.instagram span, .email span {
  margin-left: 4px;
}


.email:hover {
 color: #fcc800;
}

.phone:hover {
 color: #fcc800;
}

.facebook:hover {
 color: #fcc800;
}

.instagram:hover {
 color: #fcc800;
}

.phone-mobile {
  display: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .about-wrapper {
    width: 280px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  
  .footer {
    margin-bottom: 10px;
  }
  
  
  .email span, .phone span, .facebook span, .instagram span {
    display: none;
  }
  
  .email-icon, .facebook-icon, .instagram-icon, .phone-icon {
    margin-right: 0px;
  }
  
  .email-icon {
    margin-top: 2px;
  }
  
  .phone-icon, .facebook-icon {
    margin-left: 0px;
  }
  .instagram span, .email span {
    margin-left: 0px;
  }
  
  .icons-wrapper {
    /* width: 100%; */
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
  }
  
  .email-phone, .facebook-instagram {
    float: none;
    display: inline-block;
    width: 47%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .facebook-instagram {
    float: right;
  }
  
  .email, .phone, .facebook, .instagram {
    display: inline-block;
    width: 47%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .email-icon, .phone-icon, .facebook-icon, .instagram-icon {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .phone-mobile {
    display: inline-block;
  }
  .phone-desktop {
    display: none;
  }
  
  .phone, .instagram {
    margin-top: 0px;
  }
}

/* IPAD */
@media only screen and (min-device-width : 768px) and (max-device-width : 1000px) {
  .about-wrapper {
    margin-top: 80px;
  }
  
  .footer {
    margin-bottom: 10px;
  }
  
  
  .icons-wrapper {
    margin-bottom: 20px;
    width: 480px;
  }
  
  .icons-wrapper, .page-link {
    font-size: 20px;
  }
}